/* default global settings */
* {
  box-sizing: border-box;
}
menu {
  margin: 0;
}
ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* default global settings End*/
#Layout{
  display: flex;
}

main{
  flex: 1;
  height: 100vh;
}
#google_map_view{
  h2{
    text-align: center;
  }
}

.map_wrapper{
  position: relative;
  .map_overview{
    position: absolute;
    right: 20px;
    top: 20px;
    background: white;
    padding: 20px;
    z-index: 10;
    h2{
      font-size: 20px;
      span{
        display: block;
        color: #ccc;
      }
    }
  }
}
select{
  display: block;
  padding: 12px;
  width: 200px;
}